{{/*
Copyright 2018 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

UI for testing the game sounds.
*/}}
{{define "title"}}Field Testing{{end}}
{{define "body"}}
<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="card card-body bg-body-tertiary">
      <legend>Game Sounds</legend>
      {{range $sound := .MatchSounds}}
      <p>
        <button type="button" class="btn btn-sm btn-primary btn-game-sound" onclick="playSound('{{$sound.Name}}');">
          <i class="bi-play-fill"></i>&nbsp;&nbsp;{{toUpper $sound.Name}}
        </button>
      </p>
      {{end}}
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script src="/static/js/setup_field_testing.js"></script>
{{end}}
